body{
    margin: 0;
    background-color: #171717;
    font-family: sans-serif;
}

.header-container{
    width: 50%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    color: rgb(192, 192, 192);
    font-size: 18px;
}

.input-group{
    margin-bottom: 10px;
}

.input-group input{
    border-radius: 18px;
    border: 1px solid rgb(266, 266, 266);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    background-color: #2c2c2c;
    color: rgb(224, 221, 221);
    font-size: medium;
    display: flex;
    justify-content: center;  
}



